.explore {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-top: 40px;

  opacity: 0;
  visibility: hidden;

  @include respond-to(smartphone) {
    padding-left: 15px;
    padding-top: 15px;
  }

  @include respond-to(mobile-landscape) {
    padding-left: 15px;
    padding-top: 15px;
  }

  &.visible {
    opacity: 1;
    visibility: visible;

    .explore__overlay--tuto-1 {
      transform: translateY(0) translate(-50%, -50%);
      transition: transform 1.1s var(--ease-out-bounce2) 1s;
      pointer-events: auto;
    }
  }

  &.tuto2 {
    .explore__overlay--tuto-1 {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-100vh) translate(-50%, -50%);
      transition: transform 1s var(--ease-in-out-quart) 0s, opacity 2s ease, visibility 2s ease;
    }
    .explore__overlay--tuto-2 {
      transform: translateY(0) translate(-50%, -50%);
      transition: transform 1.1s var(--ease-out-bounce2) 1s;
      pointer-events: auto;
    }
  }

  &.started {
    .explore__overlay {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-100vh) translate(-50%, -50%);
      transition: transform 1s var(--ease-in-out-quart) 0s, opacity 2s ease, visibility 2s ease;
    }
  }

  &__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    padding: 2vw 1vw;
    background-color: var(--color-overlay);
    transform: translateY(100vh) translate(-50%, -50%);
    text-align: center;
    border-radius: 1vw;
    box-shadow: 3px 5px 12px 2px #0000004f;
    max-width: 1300px;

    @include respond-to(smartphone) {
      width: 90%;
      padding: 6vw 6vw;
      z-index: 10000;
    }

    @include respond-to(mobile-landscape) {
      z-index: 10000;
    }

    &__title {
      margin-bottom: 40px;

      @include respond-to(smartphone) {
        margin-bottom: 20px;
      }

      @include respond-to(mobile-landscape) {
        margin-bottom: 20px;
      }
    }

    &__text {
      margin: 0 auto 30px;
      max-width: 40vw;

      @include respond-to(smartphone) {
        max-width: 100vw;
        margin-bottom: 20px;
      }

      @include respond-to(mobile-landscape) {
        margin-bottom: 20px;
        max-width: 100vw;
      }
    }

    &__image {
      width: auto;
      height: 15vw;
      margin: 0 auto 30px;

      @include respond-to(smartphone) {
        height: auto;
        width: 100%;
        max-width: 400px;
        margin: 0 auto 10px;
      }

      @include respond-to(mobile-landscape) {
        height: auto;
        width: 100%;
        max-width: 200px;
        margin: 0 auto 10px;
      }
    }
    &--tuto-2 {
      .icon-hook {
        width: 2.3vw;
        max-width: 40px;
        margin: 0 0vw -0.3vw;

        @include respond-to(smartphone) {
          width: 25px;
        }
      }

      .icon-shard {
        width: 2.3vw;
        max-width: 40px;
        margin: 0 0vw -0.3vw;

        @include respond-to(smartphone) {
          width: 25px;
        }
      }
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    padding: 0 2vw;
    // background-color: rgb(255 255 255 / 93%);
    background-color: var(--color-overlay);
    transform: translateX(-100%);
    // text-align: center;
    // border-radius: 1vw;
    // box-shadow: 3px 5px 12px 2px #0000004f;
    pointer-events: none;
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s var(--ease-out-quart), opacity 0s var(--ease-out-quart) 0.8s;
    z-index: 1000000;
    opacity: 0;

    @include respond-to(smartphone) {
      height: auto;
      width: 100%;
      transform: translateY(-100%);
      padding: 4vw 0;
    }

    &__title {
      margin-bottom: 2vw;
    }

    &__count {
      display: flex;
      justify-content: space-between;
      width: 6vw;

      @include respond-to(smartphone) {
        width: 14vw;
      }
    }

    &__item {
      display: flex;
      justify-content: space-between;
      margin: auto;
      margin-bottom: 1vw;
    }

    &__chevron {
      cursor: pointer;
      transition: transform 0.3s var(--ease-out-quart);

      &:hover {
        transform: translateX(20%) scale(1.2);

        &:first-child {
          transform: translateX(-20%) scale(1.2);
        }
      }
    }

    &__share,
    &__close {
      display: block;
      margin: 2vw auto;
    }
  }

  &.link {
    .explore__link {
      opacity: 1;
      transform: translateX(0);
      transition: transform 1.4s var(--ease-in-out-quart);
      pointer-events: auto;

      @include respond-to(smartphone) {
        transform: translateY(0);
      }
    }
  }

  &__islands {
    position: absolute;
    width: 100%;
    pointer-events: none;
    bottom: 14vh;
    left: 0;

    @include respond-to(smartphone) {
      bottom: calc(45vw + 30px + 4vh + 30px);
    }

    &__item {
      opacity: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 10vh);
      top: 0;
      width: auto;
      height: 4vw;
      transition: transform 2s var(--ease-out-quart), opacity 2s ease;

      @include respond-to(smartphone) {
        height: 4vh;
      }

      &.active {
        opacity: 1;
        transform: translate(-50%, 0%);
      }
    }
  }

  &__too-close {
    position: absolute;
    width: 100%;
    height: auto;
    pointer-events: none;
    top: 50%;
    opacity: 0;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%) translateY(20px);
    text-align: center;

    max-width: 350px;

    @include respond-to(above-smartphone) {
      max-width: 30vw;
    }

    color: white;
    text-shadow: 0 0 5px rgb(0 0 0 / 0.7);
    transition: transform 0s var(--ease-out-bounce2) 0.5s, opacity 0.5s ease;

    &.active {
      opacity: 1;
      transform: translateX(-50%);
      transition: transform 1.1s var(--ease-out-bounce2), opacity 0.5s ease;
    }

    .icon-hook {
      width: 2.5vw;
      // max-width: 40px;
      min-width: 30px;
      margin: 0 0vw -0.5vw;

      @include respond-to(smartphone) {
        width: 35px;
        margin: 0 0vw -8px;

      }
    }
  }
}
