.jump-button {
  pointer-events: auto;
  position: absolute;
  border-radius: 50%;
  bottom: 30px;
  left: 25px;
  width: 25vw;
  height: 30vw;
  align-items: center;
  justify-content: center;
  user-select: none;

  display: none;

  @include respond-to(above-smartphone) {
    width: 20vw;
    height: 20vw;
  }

  @include respond-to(mobile-landscape) {
    width: 20vw;
    height: 20vw;
    left: 12vw;
    bottom: 10px;
  }

  &.is-visible {
    display: flex;
  }

  &.is-game {
    left: 50%;
    transform: translateX(-50%);

    .jump-button__content {
      @include respond-to(mobile-landscape) {
        width: 18vw;
        height: 18vw;
      }
    }

    .jump-button_text {
      @include respond-to(mobile-landscape) {
        font-size: 3vw;
      }
    }
  }

  &__content {
    z-index: 10;
    width: 100%;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211 211 211 / 71%);
    border-radius: 50%;
    touch-action: manipulation;

    @include respond-to(above-smartphone) {
      height: 20vw;
    }

    @include respond-to(mobile-landscape) {
      height: 20vw;
    }
  }

  &__text {
    font-family: 'ReggaeOne';
    font-size: 5vw;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
  }
}
