.mode {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  transition: opacity 1s ease 1s, visibility 1s ease 1s;

  z-index: 1000;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-overlay);
    transform: translateY(-100vh);
    transition: transform 1.3s var(--ease-in-out-quart);
  }

  &__content {
    transform: translateY(-100vh);
    transition: transform 1.3s var(--ease-in-out-quart) 0.06s;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    &::before {
      transform: translateY(0);
      transition: transform 1.1s var(--ease-in-out-quart);
    }

    .mode__content {
      transform: translateY(0);
      transition: transform 1.1s var(--ease-in-out-quart) 0.06s;
    }
  }

  &__title {
    margin-bottom: 3vw;
    margin-top: -3vw;

    @include respond-to(smartphone) {
      margin-bottom: 9vw;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__button {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    @include respond-to(smartphone) {
      margin-bottom: 4.5vw;
    }

    span {
      pointer-events: none;
    }
  }

  &__icon {
    margin-left: 1vw;
    width: 2.5vw;
    display: block;
    // max-width: 45px;

    @include respond-to(smartphone) {
      width: 8vw;
    }
  }
}
