:root {
  --color-white: #ffffff;
  --color-footer: #ffffff;
  --color-orange: #f8c291;
  --color-overlay: #ffe4bd;
  --color-overlay-alpha: rgb(255 228 189 / 88%);
  --color-black: #161616;
  --color-grey: #a7a7a7;
}
