@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

@font-face {
  font-family: 'Sherwood';
  src: url('/fonts/Sherwood.woff2') format('woff2');
}

@font-face {
  font-family: 'ReggaeOne';
  src: url('/fonts/reggaeone-regular-webfont.woff2') format('woff2'),
    url('/fonts/reggaeone-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'RocknRollOne';
  src: url('/fonts/rocknrollone-regular-webfont.woff2') format('woff2'),
    url('/fonts/rocknrollone-regular-webfont.woff') format('woff');
}
