@import 'imports/index';

@import 'includes/reset';
@import 'includes/root';
@import 'includes/typography';

@import 'components/scene';
@import 'components/footer';
@import 'components/ui';
@import 'components/mode';
@import 'components/settings';
@import 'components/game';
@import 'components/explore';
@import 'components/about';
@import 'components/treasure';
@import 'components/menu';
@import 'components/joystick';
@import 'components/jump-button';
@import 'components/put-away-button';
@import 'components/separator';
@import 'components/hud';
@import 'components/screenshot';
@import 'components/loading';
@import 'components/cookie';
@import 'components/controls';
